.info-carrito-vacio{
    text-align: center;
    margin-top: 5rem;
    line-height: 3rem;
    font-size: large;
}

.texto-carrito-vacio{
    font-size: x-large ;
}

.detalle-total{
    text-align: right;
    padding-right: 10rem;
    margin-top: 2rem;
    font-size: 1.4rem ;
    margin-left: 10rem;
}
